@font-face {
  font-family: Supreme;
  src: url(./fonts/Supreme-Variable.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
}
.menu {
  display: inline-block;
  height: 100vh;
  width: 100px;
  padding-top: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: #666666;
}
.menu_div {
  padding: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.menu_button {
  border: none;
  background: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 30px;
}
.menu_counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing_page {
  opacity: 0.5;
  background: #000;
  mix-blend-mode: darken;
  width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  color: #ffffff;
  padding: 50px;
  justify-content: space-between;
  font-family: Supreme;
}
.time_location {
  display: flex;
  gap: 20px;
}
.light_mode {
  display: inline-flex;
  padding: 8px 24px 8px 8px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 56px;
  border: 1px solid #fff;
}
button {
  border-radius: 56px;
  border: 1px solid #fff;
  display: inline-flex;
  padding: 2px 3px 8px 8px;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
}
.landing_content {
  color: #fff;

  /* #1/H1/Bold */
  font-family: Supreme;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 96px */
  letter-spacing: -2px;
  text-transform: uppercase;
}
.yellow_word {
  padding-left: 150px;
  color: yellow;

  /* #1/H1/Bold */
  font-family: Supreme;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 96px */
  letter-spacing: -2px;
  text-transform: uppercase;
  text-decoration: line-through;
}
.landing_text {
  padding: 50px;
  padding-top: 130px;
}
.menu_counter {
  font-family: Supreme;
  color: white;
}
.menu_counter > span {
  color: gray;
}
.brand {
  color: white;
  display: flex;
  padding-left: 150px;
}
.information {
  display: flex;
  padding-left: 210px;
  gap: 63px;
  align-items: center;
}

.information > p {
  color: var(--White, #fff);

  /* #1/Body/REG/Regular */
  font-family: Supreme;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 28.8px */
}
.fake_button {
  background-color: #e5e548;
  color: black;
  width: 108px;
  height: 108px;
  flex-shrink: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50px;
  font-family: Supreme;
  cursor: pointer;
}
